#dashboard{
    height: 100vh;
}
#dashboard .row{
    height: 100%;
}
.dashboard__container{
    background-color: #F4F7FC;
    height: 100%;
    padding: 60px;
}
.dashboard__top--bar{
    padding: 30px 50px;
    text-align: end;
}