#contact{
    background-color: var(--body-bg);
    padding: 100px 0;
}
.form__gird{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}
.contact__form{
    width: 60%;
    margin: auto;
}
.form__full{
    margin-bottom: 20px;
}
.input__group input{
    height: 60px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding: 16px 16px;
}
.form__full textarea{
    height: 150px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding: 16px 16px;
}

/* ===== contact form ===== */
@media only screen and (max-width: 1199px){
    .contact__form{
        width: 70%;
    }
}
@media only screen and (max-width: 991px){
    .form__gird{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 450px){
    .contact__form{
        width: 100%;
    }
}